body {
  background-color: rgb(1 1 33);
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(0, 0, 54);
}

.header {
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 6em;
  padding: 10px;
}

.header__shopping-basket {
  height: 3em;
}

.header__shopping-basket-counter {
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  background-color: red;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 0px 6px 0px 6px;
  margin-top: 35px;
  margin-left: 5px;
}

.product-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  overflow: hidden;
  color: aliceblue;
  font-size: 20px;
  width: 250px;
  height: 250px;
  margin: 10px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(68, 1, 175);
}

/* .card__poster {
} */

/* Пагинация */
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination button {
  width: 30px;
  height: 30px;
  margin: 0px 10px 0px 10px;
  background-color: black;
  border-radius: 5px;
}

.pagination button.active {
  border-color: #101010;
  background: #ffe400;
  color: #101010;
}
