.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.header {
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 6em;
  overflow: hidden;
  padding: 10px;
}

.header__shopping-basket {
  height: 3em;
}
