body {
  background-color: rgb(1 1 33);
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(0, 0, 54);
}

.header {
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: 6em;
  padding: 10px;
}

.header__shopping-basket {
  height: 3em;
}

.product-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin: 10px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(68, 1, 175);
}

.card__poster {
}
